body {
    background-color: #ddd;
    color: #222;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#header h1 {
    margin: 0;
    padding: 0;
    text-shadow: 0px 1px 0px #fff;
    background-color: #ccc;
    float: left;    
}

#header h1 a {
    background-color: #ccc;
    margin-top: 0em;
    margin-right: 1em;
    padding-left: 9px;
    color: #222;
    display: block;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-shadow: 0px 1px 0px #fff;       
}

#header {
    border-bottom: 1px solid #666;
    background-color: #ccc;
    border-color: #666;
    border-style: solid;
    border-width: 0 0 1px 0;
}

#header ul { 
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: right;
}

#header ul, #footer ul {
    list-style: none;
    margin: 0;
}

#header ul li + li, #footer ul li + li { 
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0;
    border-left: 1px solid black;
}

#header ul li, #footer ul li { 
    padding-right: 10px;
    display: inline;
}

#footer ul {
    display: none;
    list-style: none;
    margin: 0;
    text-align: center; 
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


ul li a {
    color: #222;
    font-weight: bold;
    text-decoration: none;
    display: inline;
}

ul li a:active,ul li a:hover {
    background-color: #ccc;
    color: #666;
}

#header ul.hide {
    display: none;
}

#content {
    padding: 10px;
    text-shadow: 0px 1px 0px #fff;
}
#content a {
    color: blue;
}

#progress {
    -webkit-border-radius: 10px;
    background-color: rgba(0,0,0,.7);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    left: 60px;
    line-height: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 120px;
    width: 200px;
}

#header ul.hide {
    display: none;
}

#header div.leftButton {
display: none;
}

#header form { 
               display: inline;
}

searchbox { 
            display: inline;
}

#submitbutton {
            display: inline;
            vertical-align: bottom;

}

p.subtle {
           padding-top: 0.4em;
           font-style: italic;
           text-align: center;
           font-size: smaller;
}

table.login { margin-top: 8%; margin-left: auto; margin-right: auto; width: 50%; border: 1px solid black; padding: 1em }
table.login td + td { text-align: left; width: 50% }
table.login td:first-child { text-align: right } 
table.login td[colspan="2"] { text-align: center }
table.login td { border: 0; }

h1.login { 
           text-align: center;
}

#entities h3 { 
  text-align: center;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

#entitydetails h4 { 
  text-align: center;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}


#entities ul, #entitydetails ul { 
  padding: 0;
  margin: 0;
  list-style: none;    
}

#entities ul li:before, #entitydetails ul li:before { 
  content: '- ';
}


#entities ul li, #entitydetails ul li { 
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1em;
  padding-right: 1em;
  background: #fff;
  border-left: 1px solid black;
  
}                  

/* #entities ul li:first-child, #entitydetails ul li:first-child { */
/*   -moz-border-radius-topright: 8px; */
/*   -moz-border-radius-topleft: 8px; */
/*   border-top-left-radius: 8px; */
/*   border-top-right-radius: 8px; */
/* } */

/* #entities ul li:last-child, #entitydetails ul li:last-child { */
/*   -moz-border-radius-bottomright: 8px; */
/*   -moz-border-radius-bottomleft: 8px; */
/*   border-bottom-left-radius: 8px; */
/*   border-bottom-right-radius: 8px; */

/* } */


#entities ul li + li, #entitydetails ul li + li { 
  border-top: 0;
}

#entities ul li:hover, #entitydetails ul li:hover { 
  background: #33c;
  color: white;
}


div#entities {
  border: 1px dotted black;
               position: absolute;
               top: 54px;
               left: 9px;
               display: block;
               padding-top: 0.5em;
               padding-bottom: 1em;
               padding-right: 1em;
               padding-left: 1em;
               background: #eee;
               display: none;
}

div#entitydetails {
               position: absolute;
               top: 54px;
               display: block;
               background: #eee;
               display: none;
               padding-top: 0.5em;
               padding-bottom: 1em;
               padding-right: 1em;
               padding-left: 1em;
  border: 1px dotted black;
}

img#closer { 
/*   position: absolute; */
/*   top: 2px; */
/*   left: 2px; */
  display: none;
}

span.expiretext { 
                  font-size: 0.5em;
}