body { margin: 10px; }

h1 { font-size: 1.5em; font-variant: small-caps; border-style: dotted; border-width: 0 0 2px 0; border-color: #0090f0; }

a { color: #0090f0; text-decoration: none; }
a:hover { color: #0000f0; text-decoration: underline } 
ul { counter-reset: item; -webkit-column-count: 4; -moz-column-count: 4; }
/* ul:after { content: counter(item) " results."; margin-top: 1.2em }
li { display: block;} 
li:before { content: counter(item, disc); counter-increment: item } */
li { counter-increment: item } 


table { padding: 0; margin: 0; width: 100%; border-collapse: collapse; border-top: 3px solid #b0b0f0; border-bottom: 3px solid #b0b0f0; }
td:first-child { text-transform: capitalize; font-weight: bold; border-right: 1px solid #b0b0f0; }
td { padding: 0.5em; width: 50% }
tr.odd { background-color: #f0f0ff }
tr.even { background-color: #f0fff0 }
tr:hover { background-color: #d6d6d6; }

table.login { margin-top: 15%; margin-left: auto; margin-right: auto; background-color: #f0f0ff; width: 50%; }
table.login td + td { text-align: left }
table.login td:first-child { text-align: right } 
table.login td[colspan="2"] { text-align: center }
table.login td { border: 0; width: 50% }
table.login tr:hover { background-color: #f0f0ff }